{{- if eq .Values.engine "woocommerce" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ecommerce-store.wordpressName" . }}
  labels:
    {{- include "ecommerce-store.labels" . | nindent 4 }}
    app.kubernetes.io/component: wordpress
spec:
  replicas: {{ .Values.wordpress.replicaCount }}
  selector:
    matchLabels:
      {{- include "ecommerce-store.wordpressSelectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "ecommerce-store.wordpressSelectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: wordpress
          image: "{{ .Values.wordpress.image.repository }}:{{ .Values.wordpress.image.tag }}"
          imagePullPolicy: {{ .Values.wordpress.image.pullPolicy }}
          env:
            - name: WORDPRESS_DB_HOST
              value: {{ include "ecommerce-store.mysqlName" . }}
            - name: WORDPRESS_DB_USER
              value: {{ .Values.mysql.user | quote }}
            - name: WORDPRESS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "ecommerce-store.fullname" . }}-secrets
                  key: mysql-password
            - name: WORDPRESS_DB_NAME
              value: {{ .Values.mysql.database | quote }}
          ports:
            - name: http
              containerPort: 80
          readinessProbe:
            tcpSocket:
              port: http
            initialDelaySeconds: 300
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 5
          livenessProbe:
            tcpSocket:
              port: http
            initialDelaySeconds: 300
            periodSeconds: 20
            timeoutSeconds: 3
            failureThreshold: 5
          resources:
            {{- toYaml .Values.wordpress.resources | nindent 12 }}
          volumeMounts:
            - name: wordpress-data
              mountPath: /var/www/html
      volumes:
        - name: wordpress-data
          persistentVolumeClaim:
            claimName: {{ include "ecommerce-store.fullname" . }}-wordpress
{{- end }}
