{{- if and .Values.networkPolicy.enabled (eq .Values.engine "woocommerce") }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "ecommerce-store.fullname" . }}-wordpress
  labels:
    {{- include "ecommerce-store.labelsWoo" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "ecommerce-store.wordpressSelectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
    - Egress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ .Values.networkPolicy.allowIngressFromNamespace | quote }}
      ports:
        - protocol: TCP
          port: 80
  egress:
    - to:
        - podSelector:
            matchLabels:
              {{- include "ecommerce-store.mysqlSelectorLabels" . | nindent 14 }}
      ports:
        - protocol: TCP
          port: 3306
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: kube-system
          podSelector:
            matchLabels:
              k8s-app: kube-dns
      ports:
        - protocol: UDP
          port: 53
        - protocol: TCP
          port: 53
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ include "ecommerce-store.fullname" . }}-mysql
  labels:
    {{- include "ecommerce-store.labelsWoo" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      {{- include "ecommerce-store.mysqlSelectorLabels" . | nindent 6 }}
  policyTypes:
    - Ingress
  ingress:
    - from:
        - podSelector:
            matchLabels:
              {{- include "ecommerce-store.wordpressSelectorLabels" . | nindent 14 }}
      ports:
        - protocol: TCP
          port: 3306
{{- end }}
